* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  background-color: #4e546a !important;
}
main {
  margin-top: 6rem;
  max-width: 569px;
  width: 95%;
  box-shadow: 30px 30px #414863;
}
main .close .fa-xmark {
  cursor: pointer;
  border: 2px solid #e1e5f4;
  color: #9ea6c3;
  transition: 0.3s ease;
  margin-top: -20px;
}
main .close .fa-xmark:hover {
  color: #ab313e;
  border-color: #ab313e;
}
main section h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 1.375rem;
  color: #19163c;
}
main section .sign-in {
  background-color: #2852e7;
  cursor: pointer;
  transition: 0.3s ease;
  max-width: 237px;
  width: 100%;
}
main section .sign-in:hover {
  background-color: #5677ec;
}
main section a,
main section a:visited {
  color: #2852e6;
}
