* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  background-color: #1e1d2f !important;
}
main {
  margin-top: 7rem;
  background-color: #2d2c43;
  max-width: 441px;
  width: 95%;
}
main img {
  max-width: 94px;
  width: 100%;
  height: 94px;
  border: 10px solid #1e1d2f;
}
main .user-info h4 {
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
}
main a,
main a:visited {
  background-color: #8f5aff;
  max-width: 120px;
  width: 100%;
  transition: 0.3s ease;
}
main a:hover,
main a:visited:hover {
  background-color: #b28dff;
}
