@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background-color #F7F8FC !important
    color #10182F !important

main 
    max-width 1200px
    width 95%
    margin-top 7rem
    box-shadow 0 0 0 20px #F0F2FB

    img
        height 150px 
        width 150px

    p
        font-size 1.5rem
        max-width 740px
        width 100%

    button 
        background-color #10182F
        max-width 420px
        width 100%    