@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Mulish', sans-serif !important
    background-color #EBEBF1 !important

main 
    margin-top 6rem
    max-width 460px
    width 95%
    background-color #853CD9

    .close
        .fa-xmark
            background-color #7A30CF
            width 40px
            height 40px
            cursor pointer
            transition 0.2s ease

            &:hover
                color lighten(red, 30%)
    
    .plan-info
        h5
            font-size 1.75rem 
            max-width 195px
            width 100%

        p
            font-size 1.125rem

        button
            max-width 161px
            width 100%
            font-size 1.125rem
            color lighten(#0F0F1B, 20%)    