* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  background-color: #ebf0ff !important;
}
main {
  margin-top: 5rem;
  max-width: 387px;
  width: 95%;
}
main h4 {
  color: #15325f;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 1.5rem;
}
main .list span {
  color: #15325f;
  cursor: pointer;
  transition: 0.2s ease;
}
main .list span.selected,
main .list span:hover {
  background-color: #f2f6ff;
  border-radius: 4px;
  border: 1px solid #d7e1ff;
  color: #004cbf;
}
