@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Montserrat', sans-serif !important
    background-color #F0F4FF !important
    font-size 1.125rem !important

main 
    margin-top 6rem
    max-width 630px
    width 95%
    box-shadow 0 10px 10px darken(#F0F4FF, 20%)
    
    p 
        max-width 424px
        width 100%

    a,
    a:visited 
        max-width 220px
        width 100%

        &.skip
            color #7784EF
            border 1.5px solid #7784EF

        &.learn    
            background linear-gradient(to right, #8280F3, #4A90E2)    