@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Lato', sans-serif !important
    color #3C444E !important
    background-color #F6F5FF !important

main 
    margin-top 6rem
    max-width 430px
    width 95%
    box-shadow 0 10px 10px darken(#F6F5FF, 10%)

    .price 
        font-size 1.875rem
        font-weight 900
    
    img
        width 165px
        height 165px

    h5
        font-weight 900    

    button 
        background-color #F5A623