@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap")

* 
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Montserrat', sans-serif !important
    background-color #AFACC6 !important

main 
    margin-top 5rem
    max-width 1200px
    width 95%

    .hire
        color #7F56D9
        font-size 0.975rem
        font-weight 600

    h2 
        color #101828

    p 
        max-width 600px
        width 100%
        color #667085

    .btns
        button
            max-width 150px 
            width 100%

            &.about
                border 2px solid #D0D5DD
                color darken(#667085, 30%)

            &.open
                background-color #7F56D9

    .user-profile
        .card
            max-width 260px
            width 100%
            cursor pointer
            background-color #F9FAFB
            border 1.5px solid #98A2B3
            transition 0.2s ease

            &:hover
                background-color #7F56D9
                color #fff !important

                a,
                a:visited,
                .title,
                p
                    color #fff !important

            img 
                width 120px
                height 120px

            .name 
                font-size 1.125rem

            .title 
                color #7F56D9

            p 
                max-width 70%
                width 100%
                font-size 0.875rem

            .social-links
                a,
                a:visited
                    color #98A2B3