* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-family: "Mulish", sans-serif !important;
  font-weight: 700 !important;
  background-color: #f4e8f6 !important;
}
main {
  margin-top: 5rem;
  max-width: 509px;
  width: 95%;
  background-color: #141e42;
}
main h4 {
  font-size: 1.375rem;
  max-width: 318px;
  width: 100%;
}
main span {
  background-color: #2b3455;
  padding: 0.3rem;
  cursor: pointer;
}
