* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 500 !important;
  background-color: #2a2c43 !important;
}
main {
  margin-top: 6rem;
  background-color: #353854;
  max-width: 262px;
  width: 95%;
}
main h5 {
  font-size: 1.125rem;
}
main p {
  font-size: 1rem;
}
main button {
  color: #2a2c43;
  background-color: #f8bd66;
  font-weight: 600;
  max-width: 152px;
  width: 100%;
  transition: 0.2s ease;
}
main button:hover {
  background-color: #f6a835;
}
