@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    background: linear-gradient(to bottom right, #3d9989, #5ab1e2) !important;
    min-height: 100vh;
}

main {
    max-width: 1010px;
    width: 95%;
    margin-top: 6rem;

    h3 {
        color: #132a46;
    }

    .link {
        background-color: #e8f5f3;

        input {
            border: 1px solid #bde5c8;
            max-width: 644px;
            width: 100%;

            @media (max-width: 1011px) {
                max-width: unset;
                margin-bottom: 1rem;
            }
        }

        button {
            background-color: #4e7d75;
            color: #fff;
            max-width: 123px;
            width: 100%;
            transition: 0.3s ease;

            @media (max-width: 1011px) {
                max-width: unset;
            }

            &:hover {
                background-color: lighten(#4e7d75, 10%);
            }
        }
    }

    .permission {
        color: #132a46;
        font-size: 1.5rem;
    }

    .allow {
        font-size: 1.125rem;
        color: #132a46;
    }

    a,
    a:visited {
        color: #4e7d75;
    }
}
