@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    background-color: #F1F2F5 !important;
    color: #242E4C !important;
}

main {
    max-width: 420px;
    width: 95%;
    box-shadow: 0 8px 8px #ABB7E0;
    margin-top: 6rem;

    p {
        max-width: 360px;
        width: 100%;
    }

    .login {
        a,
        a:visited {
            color: #4292F4;
        }
    }

    .or {
        font-size: 0.8375rem; 
    }

    .sign,
    .sign:visited {
        background: linear-gradient(to right, #86A2F1, #7170C4);
    }
}