* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f121f !important;
  font-family: "Mulish", sans-serif !important;
  font-weight: 400 !important;
}
main {
  margin-top: 5rem;
}
main .container {
  max-width: 537px;
  width: 95%;
}
main .container .close i {
  color: #698aac;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}
main .container .close i:hover {
  color: #dc3545 !important;
}
main .container .features h4 {
  color: #0f121f;
  font-size: 1.5rem;
}
main .container .features p {
  max-width: 380px;
  width: 100%;
  font-size: 1.125rem;
  color: #0f121f;
}
main .container .features a,
main .container .features a:visited {
  max-width: 281px;
  width: 100%;
  border: 1px solid #eb4335;
  font-family: inherit;
  color: #0f121f;
  text-align: start;
  transition: 0.2s ease;
}
main .container .features a img,
main .container .features a:visited img {
  max-width: 30px;
  width: 100%;
  height: 31px;
}
main .container .features a:hover,
main .container .features a:visited:hover {
  background: #f2847b;
  color: #fff;
}
main .container .features a.twitter,
main .container .features a:visited.twitter {
  border: 1px solid #5da8dc;
}
main .container .features a.twitter:hover,
main .container .features a:visited.twitter:hover {
  background-color: #9ccaea;
}
