@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important; 
    background-color: #EFEFEF !important;
}

main {
    margin-top: 6rem;
    max-width: 580px;
    width: 95%;
    box-shadow: 0 8px 8px lighten($color: #000000, $amount: 70%);

    .title {
        font-size: 1.125rem; 
    }

    .additional {
        font-size: 0.875rem; 
    }

    .btns {
        .change {
            color: #EF8F0B;
        }
    }
}