@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background: linear-gradient(to bottom right, #FF8BE0, #FFE364, #6888F3);
    color: #1A2250 !important;
    min-height: 100vh;
}

main {
    margin-top: 4rem;
    max-width: 940px;
    width: 95%;

    .close {
        .fa-xmark {
            color: lighten($color: #2C3E50, $amount: 20%);
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                color: lighten($color: red, $amount: 10%);
            }
        }
    }

    .info {
        img {
            width: 432px;
        }

        div {
            h2 {
                max-width: 360px;
                width: 100%;

                @media (max-width: 943px) {
                    max-width: 100%;
                }
            }

            p {
                font-size: 1.375rem; 
                max-width: 348px;
                width: 100%;

                @media (max-width: 943px) {
                    max-width: 100%;
                }
            }

            .email {
                input {
                    font-size: 1.25rem; 
                    border: 2px solid #D8DCEB;
                    outline: none;
                    cursor: pointer;
                }

                button {
                    background: linear-gradient(to bottom right, #8BCDFF, #6888F3);
                    font-size: 1.25rem; 
                    box-shadow: 0 6px 10px lighten($color: #6487FF, $amount: 10%);
                }
            }
        }
    }
}