@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #242e4c !important;
  background-color: #f0f1f8 !important;
  font-family: 'Roboto', sans-serif !important;
}
main {
  margin-top: 6rem;
  max-width: 630px;
  width: 95%;
  box-shadow: 0 8px 8px #adb3d9;
}
main .info .questions {
  margin-top: 3.2rem;
}
main .info .questions div input {
  height: 22px;
  width: 22px;
  accent-color: #4292f4;
  vertical-align: middle;
  cursor: pointer;
}
main .info .questions label {
  font-size: 1.125rem;
}
main a,
main a:visited {
  background-color: #4273f4;
}
