@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    color: #242E4C !important
    background-color: #F0F1F8 !important
    font-family: 'Roboto', sans-serif !important

main
    margin-top: 6rem
    max-width: 630px
    width: 95%
    box-shadow: 0 8px 8px darken(#F0F1F8, 20%)

    .info
        .questions
            margin-top: 3.2rem

            div
                input
                    height: 22px
                    width: 22px
                    accent-color: #4292F4
                    vertical-align: middle
                    cursor pointer

            label
                font-size: 1.125rem

    a, 
    a:visited
        background-color: #4273F4