@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background-color #1A1B38 !important
    color #1A1B38 !important

main 
    margin-top 5rem
    
    h2
        font-weight 800
        font-size 2.25rem
        max-width 376px
        width 100%

    p 
        max-width 512px
        width 100%
        font-size 1.25rem

    .cards-info
        .cards
            max-width 510px
            width 95%

            &.one 
                height 434px
            
            h4 
                font-weight 800

            .users
                font-weight 800
                font-size 1.125rem

            span 
                font-size 1.125rem

            hr
                border 2px solid darken(#E9EEF8, 20%)

            div 
                i 
                    background-color #F7F9FD

            a,
            a:visited
                background-color #3457DC
                max-width 150px
                width 100%