@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important; 
    background: linear-gradient(to bottom right, #80C3F3, #4A64E2);
    color: #1A2950;
    min-height: 100vh;
}

main {
    max-width: 900px;
    width: 95%;
    box-shadow: 18px 18px #4A6CDB;
    margin-top: 6rem;

    .close {
        .fa-xmark {
            color: lighten($color: #2C3E50, $amount: 20%);
            cursor: pointer;
            transition: 0.2s ease;
    
            &:hover {
                color: lighten($color: red, $amount: 10%);
            }
        }
    }

    .info {
        img {
            width: 100px;
            height: 100px;
        }

        h2 {
            font-size: 2.25rem;
        }

        .email-info {
            input {
                max-width: 450px;
                width: 100%;
                border: 2px solid #CAD0D7;
                outline: none;
                cursor: pointer;
                color: inherit;

                &::placeholder {
                    color: darken(#999FA7, 8%);
                }
            }

            button {
                max-width: 200px;
                width: 100%;
                background-color: #597EE7;
            }
        }
    }
}

