@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  background-color: #f7f9fd !important;
  color: #242e4c !important;
}
main {
  margin-top: 4rem;
  max-width: 710px;
  width: 95%;
  box-shadow: 0 10px 10px #cfdbf3;
}
main img {
  width: 140px;
  height: 140px;
}
main p {
  max-width: 310px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.75;
}
main .save-info {
  background-color: #f7f9fd;
}
main .save-info h6 {
  font-size: 1.125rem;
}
main .save-info span {
  font-size: 0.875rem;
}
main .save-info input {
  outline: none;
  cursor: pointer;
  border: 1.5px solid #dfe4f4;
  color: inherit;
  max-width: 350px;
  width: 100%;
  font-weight: 500;
}
main .save-info .save {
  font-weight: inherit;
  background-color: #92a4d8;
  max-width: 111px;
  width: 100%;
}
main .back {
  background-color: #3457dc;
  box-shadow: 0 8px 8px #99abee;
  max-width: 340px;
  width: 100%;
  font-weight: 500;
}
