@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background-color #EAEAEA !important
    color #242E4C !important

main 
    margin-top 6rem
    max-width 410px
    width 95%
    box-shadow 0 12px 12px darken(#EAEAEA, 20%)
    
    img
        width 124px
        height 124px

    p 
        max-width 340px
        width 100%

    button 
        color #4A90E2
        border 2px solid #4A90E2    