@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  background-color: #edeef7 !important;
  color: #242e4c !important;
}
main {
  margin-top: 6rem;
  max-width: 700px;
  width: 95%;
  box-shadow: 0 8px 8px #aaafd9;
}
main .close .fa-xmark {
  cursor: pointer;
  transition: 0.2s ease;
  color: #788abf;
}
main .close .fa-xmark:hover {
  color: #ff4d4d;
}
main .info img {
  width: 150px;
  height: 150px;
}
main .info .details h4 {
  font-size: 1.5625rem;
}
main .info .details p {
  font-size: 0.875rem;
  max-width: 374px;
  width: 100%;
}
main .info .details .btns .got {
  width: 82px;
  background: linear-gradient(to right, #7cbafb, #9289ff);
}
main .info .details .btns .more {
  color: #9099b8;
}
