@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500; 
    background-color: #F0F1F3 !important;
    color: #242E4C !important;
}

main {
    margin-top: 7rem;
    max-width: 750px;
    width: 95%;

    .close {
        i {
            color: lighten($color: #242E4C, $amount: 20%);
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                color: lighten($color: red, $amount: 10%);
            }
        }
    }

    .info {
        p {
            max-width: 636px;
            width: 100%;
        }

        input {
            max-width: 515px;
            width: 100%;
            color: inherit;
            border: 1.5px solid #8B9AA6;
            outline: none;
            cursor: pointer;

            &::placeholder {
                color: #8B9AA6;
            }
        }

        button {
            max-width: 150px;
            width: 100%;
            background-color: #4292F4;
        }

        div {
            img {
                width: 60px;
                height: 60px;
            }

            .name {
                font-size: 0.875rem; 
            }
        }
    }
}