@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  background-color: #f7f8fc !important;
  color: #10182f !important;
}
main {
  margin-top: 5rem;
  max-width: 860px;
  width: 95%;
  box-shadow: 0 0 0 20px #f0f2fb;
}
main img {
  width: 170px;
  height: 170px;
}
main p {
  max-width: 457px;
  width: 100%;
  font-size: 1.125rem;
}
main .back {
  max-width: 300px;
  width: 100%;
  font-size: 1.125rem;
  background-color: #10182f;
}
