@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif !important;
    background-color: #FFF8FC !important;
}

main {
    margin-top: 8rem;
    max-width: 330px;
    width: 95%;
    background: linear-gradient(to right, #F073C8, #FF6A95);

    .close {
        i {
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                color: darken($color: red, $amount: 30%);
            }
        }
    }

    .info {
        .miss {
            font-size: 0.875rem;
        }

        input {
            background-color: lighten(#51216F, 60%);
            color: darken($color: #fff, $amount: 70%);
            font-size: 1.15rem;
            outline: none;
            cursor: pointer;

            &::placeholder {
                color: darken($color: #fff, $amount: 70%);
            }
        }

        a,
        a:visited {
            border-color: #fff !important;
        }

        p {
            max-width: 170px;
            width: 100%;
            font-size: 0.856rem;
        }
    }
}
