@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background-color #F7F8FC !important
    color #10182F !important

main 
    margin-top 6rem
    max-width 860px
    width 95%
    box-shadow 0 0 0 10px #F0F2FB

    .star-logo 
        width 154px
        height 100px

    p
        max-width 443px
        width 100%
        font-size 1.125rem

    .btns
        button 
            max-width 300px
            width 100%

            &.update 
                color #545D7A
                border 2px solid #DAE1F5
            
            &.back
                background-color #10182F

    .flow 
        width 150px
        height 150px            