@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  background-color: #180e29 !important;
}
main {
  margin-top: 7rem;
}
main .cards {
  max-width: 280px;
  width: 95%;
  background-color: #241839;
}
main .cards img {
  width: 102px;
  height: 102px;
  border: 8px solid #160e25;
}
main .cards .name {
  font-size: 1.125rem;
}
main .cards button {
  color: #aea2c6;
  border: 2px solid #160e25;
}
